<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <script>
    var arr = [];
    var arrayNumbers = [];
    for (let x = 1; x < 26; x++) {
      arrayNumbers.push(x);
    }

    Element.prototype.remove = function() {
      this.parentElement.removeChild(this);
    };
    NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
      for (var i = this.length - 1; i >= 0; i--) {
        if (this[i] && this[i].parentElement) {
          this[i].parentElement.removeChild(this[i]);
        }
      }
    };

    function gerar() {
      var totalGames = [];
      let array = arrayNumbers.filter(el => !arr.includes(el));

      let cont = 0;
      while (totalGames.length < 25) {
        let newArray = array.slice();
        let values = [];
        for (let x = 0; x < 15; x++) {
          let random = Math.floor(Math.random() * newArray.length - 1 + 1);
          values.push(newArray[random]);
          newArray.splice(random, 1);
        }

        let verify = true;
        values.sort();
        for (let x = 0; x < totalGames.length; x++) {
          if (totalGames[x] === values) {
            verify = false;
            break;
          }
        }

        if (verify) {
          totalGames.push(values);
        }
      }
      var fields = "";
      for (let x = 0; x < totalGames.length; x++) {
        fields += "<tr><td>" + x + "</td><td>" + totalGames[x] + "</td></tr>";
      }
      localStorage.setItem("game", fields);
      document.getElementById("games").innerHTML = fields;
    }

    function removeItem(id) {
      let valueToRemove = document.getElementById("i" + id).value;
      document.getElementById("i" + id).remove();
      document.getElementById("div" + id).remove();
      for (let x = 0; x < arr.length; x++) {
        if (valueToRemove == arr[x]) {
          arr.splice(x, 1);
          break;
        }
      }

      if (arr.length === 4) {
        document.getElementById("1").value = "";
        document.getElementById("1").disable = false;
        document.getElementById("generated").value = "";
        document.getElementById("gerar").style.display = "none";
        document.getElementById("add").style.display = "block";
        document.getElementById("1").style.display = "block";
        document.getElementById("generated").style.display = "none";
      }
    }

    function add(e) {
      let valor = document.getElementById("1").value;
      if (valor < 0 || valor > 25) {
        alert("Numero inserido não e valido");
        document.getElementById("1").value = "";
        return false;
      }

      for (let i = 0; i < arr.length; i++) {
        if (arr[i] == valor) {
          alert("Este número já foi adicionado");
          return false;
        }
      }

      if (valor) {
        let el = document.getElementById("row");
        let div = document.createElement("div");
        div.className = "form-group col-md-2";

        let item = document.createElement("input");
        item.className = "form-control";
        item.value = valor;
        item.ondblclick = () => removeItem();
        item.contentEditable = false;

        if (arr.length === 4) {
          document.getElementById("1").value = "";
          document.getElementById("1").disable = true;
          document.getElementById("gerar").style.display = "block";
          document.getElementById("add").style.display = "none";
          return false;
        } else {
          arr.push(valor);
        }
        div.appendChild(item);
        el.append(div);
        document.getElementById("1").value = "";
      } else {
        alert("Preencha o campo com numero");
      }
    }
  </script>
  <body>
    <div class="container">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <h2>GERADOR DE NUMEROS LOTO FACIL - ERRE CINCO NUMEROS</h2>
      </div>
      <div class="col-md-12">
        <a class="btn btn-success" href="/">ACERTE 9</a>
        <br />
        <br />
      </div>
      <div class="row col-md-12" id="row">
        <div class="form-group col-md-2" id="items">
          <input
            type="number"
            name="number1"
            id="1"
            class="form-control"
            placeholder="add"
            min="0"
            max="25"
          />
        </div>
      </div>
      <div class="text-left fullwidth col-md-12">
        <button class="btn btn-primary" onclick="add()" id="add">
          ADICIONAR
        </button>
        <button
          class="btn btn-primary"
          onclick="gerar()"
          id="gerar"
          style="display: none;"
        >
          GERAR
        </button>
      </div>
      <br />
      <br />
      <div>
        <table class="table table-striped">
          <thead>
            <th>JOGOS POSSIVEIS</th>
          </thead>
          <tbody id="games"></tbody>
        </table>
      </div>
    </div>
    <script>
      let data = localStorage.getItem("game");
      document.getElementById("games").innerHTML = data;
    </script>
  </body>
</html>
